#live2d {
  width: 800px;
  height: 896px;
  position: relative;
  z-index: -1;
}
body {
  background-color: wheat;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  /* background: orange; */
}

body::-webkit-scrollbar-thumb {
  background-color: grey; 
  border-radius: 20px; 
}
ul {
  list-style: none;
}
.btns {
  color: black;
  font-size: 20px;
  height: 30px;
  width: 50px;
  position: relative;
  background-color: var(--back);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s;
  border: black 1px solid;
}
.btns:hover {
  background-color: rgb(53, 252, 66);
  scale: 1.3;
}
a {
  text-decoration: none;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.picType {
  font-size: 20px;
}

.changeBtn {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: #fff537;
  border: 1px solid black;
  transition: all 0.3s;
}
.changeBtn:hover {
  background-color: #ff9837;
}

.chatParent {
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatAnswer {
  width: 50vw;
  height: 50vh;
  background-color: red;
}

.chatQuest {
  padding: 1vw;
  width: 48vw;
  height: 10vh;
}
.chatBtn {
  width: 200px;
  height: 50px;
}
